.merchantlogin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.merchantlogin label {
  float: left;
}
.merchantlogin a {
  color: white;
  text-decoration: none;
}
.merchantlogin form {
  border-radius: 10px;
  height: 60vh;
  display: block;
}
.merchantlogin h2 {
  margin-bottom: 40px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.merchantlogin button {
  margin-top: 30px;
}
