.userLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.userLogin label{
float: left;

}
.userLogin a{
    color: white;
    text-decoration: none;
}
.userLogin form{
    border-radius: 10px;
height: 60vh;
display: block;

}
.userLogin h2{
    margin-bottom: 40px;
text-align: center;
}
.userLogin button{
    margin-top: 30px;
}