.maindiv{
    justify-content: first baseline;
    margin-bottom: 30px;
    display: inline-block;
    width: 300px;
    vertical-align: middle;
    margin-left: 110px;
    margin-right: 60px;
   margin-top: 30px;
}
.maindiv img{
    margin-right: 70px;
}
.maindiv p{
   
    margin-top: 20px;
    font-size: 17px;
}
#cost1{

    display: block;
  margin-top: 20px;
}
.maindiv button{
    margin-top: 20px;
    height: 40px;
    width: 130px;
    color: blue;
    margin-left: 10px;

}